.content{
    max-width: 1850px;
    position: relative;
    margin: 0 auto; 
    margin-top: 70px;
    margin-bottom: 10px;
    width: 100%;
}

.content div {
    float: left;
}

.col-20 {
    text-align: center;
    width:20%;  
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px 10px;
    background-color: #fff;
}

.col-56 {
    margin-left:1%;
    margin-right:1%;
    height: 100%;
    width: 56%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px 10px;
}

.photo {
    width: 94%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 20px 20px;
}

.photo1{
    width: 70%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 20px 20px;
}

.col-67 {
    text-align: center;
    margin-left:15%;
    margin-right:1%;
    height: 100%;
    width: 67%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px 10px;
}

.col-15{
    text-align: center;
    width:15%;  
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px 10px;
    background-color: #cfd1c3;
    font-family: Cambria;
    line-height: 1.75;
}

.col-15 ul{
    list-style-position: inside;
    list-style: none;
}

.col-15 ul ul li{
    list-style: disc;
    list-style-position: inside;

}

.col-15 ul li a{
    text-decoration: none;
    color: black;
}

.paragraf{
    word-break:normal;
    font-size: 14pt;
    font-family: 'Times New Roman';
    text-align: justify;
    text-indent: 4%;
    line-height: 1.75;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.hea{
    font-family: sans-serif;
    text-align: center;
    line-height: 1.75;
    padding: 5px;
}

.str{
    font-size: 20px;
    font-weight: 700;
}

.paragraf1{
    word-break:normal;
    font-size: 14pt;
    font-family: 'Times New Roman';
    text-align: justify;
    line-height: 1.75;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.paragraf_table{
    word-break:normal;
    font-size: 14pt;
    font-family: 'Times New Roman';
    text-align: center;
    text-indent: 5%;
    line-height: 1.75;
    padding-top: 5px;
    margin-left: 12%;
    margin-right: 10%;
}

table {
    min-width: 100px;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, .3);
    font-family: sans-serif;
}
  
td {
    text-align: center;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, .3);
    background-color: #f7f7f7;
}

th {
    background-color: #ffd3b5;
    font-size: 18pt;
    text-align: center;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, .3);
}

iframe{
    height: 700px;
    width: 48%;
    border: none;
}

.stemp{
    width: 100%;
    text-align: center;
}

.img{
    display: inline-block;
    width: 170px;
    height: 225px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #f7f7f7;
    text-align: center;
    margin: 0.5%;
    vertical-align: middle;
}

.adres{
    word-break:normal;
    font-size: 14pt;
    font-family: 'Arial';
    text-align: justify;
    line-height: 1.75;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
}

.book{
    width: 95%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #f7f7f7;
    margin: 0.3%;
    word-break:normal;
    font-size: 12pt;
    font-family: 'Times New Roman';
    text-indent: 4%;
    line-height: 1.75;
    padding-top: 5px;
    margin-left: 3%;
}

.book_1{
    width: 100%;  
    text-align: right;
}

.book_2{
    width: 100%;  
    text-align: left;
}

.top{
    text-decoration: none; 
    word-break:normal;
    font-size: 18pt;
    font-family: 'Arial';
    text-align: justify;
    line-height: 1.75;
    color: blue;
}